__pycache__/
*.egg-info/
.DS_Store
.ropeproject/
data/*
!data/.gitkeep
!data/figures

!data/test-cases
data/test-cases/*
!data/test-cases/example.txt

!data/filtered
data/filtered/*
!data/filtered/all_regexes.txt

raw-data/*
!raw-data/.gitkeep
.*venv/
data/figures/*/example*.pdf
htmlcov
.coverage

third_party/*
!third_party/.gitkeep
