validation/processed/processed_patterns_2.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_6.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_7.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_8.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_9.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_0.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_10.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_11.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_5.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_1.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_3.json filter=lfs diff=lfs merge=lfs -text
validation/processed/processed_patterns_4.json filter=lfs diff=lfs merge=lfs -text
tests/regexes.txt filter=lfs diff=lfs merge=lfs -text
benchmark/ambiguous/test_results_50_100.json filter=lfs diff=lfs merge=lfs -text
benchmark/ambiguous/test_samples_0_50.json filter=lfs diff=lfs merge=lfs -text
benchmark/ambiguous/test_samples_100_200.json filter=lfs diff=lfs merge=lfs -text
benchmark/ambiguous/test_samples_50_100.json filter=lfs diff=lfs merge=lfs -text
benchmark/ambiguous/test_results_0_50.json filter=lfs diff=lfs merge=lfs -text
benchmark/ambiguous/test_results_100_200.json filter=lfs diff=lfs merge=lfs -text
benchmark/unambiguous/test_results_0_50.json filter=lfs diff=lfs merge=lfs -text
benchmark/unambiguous/test_results_100_200.json filter=lfs diff=lfs merge=lfs -text
benchmark/unambiguous/test_results_50_100.json filter=lfs diff=lfs merge=lfs -text
benchmark/unambiguous/test_samples_0_50.json filter=lfs diff=lfs merge=lfs -text
benchmark/unambiguous/test_samples_100_200.json filter=lfs diff=lfs merge=lfs -text
benchmark/unambiguous/test_samples_50_100.json filter=lfs diff=lfs merge=lfs -text
